<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963546114533-hhnhbe2trgcsi6q066csres15evtitan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963546114533-hhnhbe2trgcsi6q066csres15evtitan</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>963546114533-np330qj4hc3m57nqqqm6p4shi47hpoc7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIB3f4nRF7K0j11HVXL8wERQyazw0UcCw</string>
	<key>GCM_SENDER_ID</key>
	<string>963546114533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-app-arber</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-app-arber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963546114533:ios:c27b39e55fd041ec42670c</string>
</dict>
</plist>